body
{
	background-image:url("img/m1.jpg");
	text-align: center;
	color:white;
}
p
{
	font-size:30px;
	font-family: ariel;
	color:white;
}
button
{
	background-color:black;
	border:none;
	color:white;
	padding:15px;
	text-align:center;
	cursor:pointer;
}